<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/static/css/recet.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
	<title>{{ title }}</title>
</head>
<body>
	<div class="header">
		<nav class="nav">
			<a href="/" class="topicon"><span>E</span></a>
			<a href="/logout" class="Logouticon"><span><i class="fas fa-sign-out-alt"></i></span></a>
			<a href="/mypage" class="Logouticon"><span><i class="fas fa-user"></i></span></a>
		</nav>

		<div><h1>{{page_title}}</h1></div>
	</div>
	<div class="main_contents">
		<div class="container">
		<div class="garden">
		{% block content %}
		{% endblock %}
	</div>
		</div>


	</div>

</body>
</html>
